<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сервер Minecraft Funtime</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #282c34;
            color: #ffffff;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #4CAF50;
            padding: 20px;
            text-align: center;
        }
        header h1 {
            margin: 0;
        }
         nav {
            text-align: center;
            background-color: #333;
        }
        nav a {
            color: white;
            padding: 14px 20px;
            text-decoration: none;
            display: inline-block;
        }
        nav a:hover {
            background-color: #ddd;
            color: black;
        }
        .container {
            padding: 20px;
        }
        .server-info {
            background: #3e444e;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 20px;
        }
        .server-info h2 {
            margin-top: 0;
        }
        .join-btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        .join-btn:hover {
            background-color: #45a049;
        }
        footer {
            text-align: center;
            padding: 10px;
            background: #1c1f24;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        .server-image {
            text-align: center;
            margin-bottom: 20px;
        }
        .server-image img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }

